<div class="navbar text-center">
  <h1 class="text-center w-100">NBA NEWS</h1>
</div>

<div class="article-bloc">

<div class="search-form mb-5">
  <%= form_with url: root_path, method: :get, class: "d-flex" do %>
    <%= text_field_tag :query,
      params[:query],
      class: "form-control",
      placeholder: "Find a team"
    %>
    <%= submit_tag "Search", class: "btn btn-primary" %>
  <% end %>
</div>

  <% @articles.each do |article| %>
    <div class="card mb-3" style="max-width: 540px">
      <div class="row g-0">
        <div class="col-md-4">
          <img src="<%= article.image %>" alt="image basket" class="img-fluid rounded-start picture">
        </div>
        <div class="col-md-8">
          <div class="card-body">
            <h5 class="card-title"> <%= article.title %> </h5>
            <%= link_to 'Go to article', article_path(article), class: 'btn btn-outline-dark mt-5' %>
          </div>
        </div>
      </div>
    </div>
  <% end %>
</div>


<%
=begin %>


<div class="container">
  <% @articles.each do |article| %>
  <div class="row row-cols-1 row-cols-md-2 g-4">
    <div class="col">
      <div class="card">
        <img src="<%= article.image %>" alt="image basket" class="card-img-top">
        <div class="card-body">
          <h5 class="card-title"> <%= article.title %> </h5>
          <%= link_to 'Go to article', article_path(article), class: 'btn btn-outline-dark mt-5' %>
        </div>
      </div>
    </div>
  </div>
<% end %>


<% if index.even? %>
  <h3 class="card-title"><%= article.title %></h3>
  <%= link_to 'Go to article', article_path(article), class: 'btn btn-outline-light mt-5' %>
<% else %>
  <%= link_to 'Go to article', article_path(article), class: 'btn btn-outline-light mt-5' %>
  <h3 class="card-title"><%= article.title %></h3>
<% end %>

<%
=end %>
